body {
	font-family: sans-serif;
}

h1 {
	text-align: center;
}

ul li {
	list-style-type: none;
	height: 40px;
}

ul li a {
	font-weight: bold;
	text-decoration: none;
	width: 100px;
	display: inline-block;
	color: black;
	background-color: #ee99f8;
	text-align: center;
	margin-right: 5px;
}

ul li a:hover {
	color: #9a1755;
}

span.currentDescription {
	
	display: inline-block;
	font-size: 0.9em;
}

span.testlogin form {
	display: inline-block;
}

span.testlogin input {
	width: 400px;
	float: right;
}

li.odd {
	background-color: #ffeaf2;
}
