body {
	font-family: sans-serif;
}

h1 {
	text-align: center;
}

ul li {
	margin-bottom: 7px;
	list-style-type: none;
}

ul li a {
	font-weight: bold;
	text-decoration: underline;
	width: 100px;
	display: inline-block;
	color: black;
}

ul li a:hover {
	color: red;
}

span.currentDescription {
	font-style: italic;
	width: 400px;
	display: inline-block;
}

span.testlogin form {
	display: inline-block;
}

span.testlogin input {
	width: 400px;
	float: right;
}

span.testlogin {
	lbackground-color: #ee99f8;
}